<section id="Contact-form">
  <br>
      <div class="container">
        <div class="contact" align="center">
          <h2>Contactez nous</h2>
          <p>Servietsky sera toujours la pour vous, KEEP CALM.</p>
        </div>
        <!-- Form  -->
        <form>
          <div class="row">
            <div class="col-md-4 col-sm-4">
                <h4 align="center"><strong>The SUper Fuck Friends</strong></h4>
                <p align="center"><strong>Author:</strong>  Frédéric Boursier<br>Valentin Cluzan<br><br><strong>Contact:</strong> 06.74.49.11.52<br>06.59.08.31.04</p>
              </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="form-group">
                  <label for="exampleInputUsername">Nom</label>
                  <input type="email" class="form-control" id="exampleInputUsername" placeholder=" Entre ton nom">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmailId">Email</label>
                  <input type="password" class="form-control" id="exampleInputEmailId" placeholder="Entre ton email">
                </div>
                <div class="form-group">
                  <label for="exampleInputnumber">Téléphone</label>
                  <input type="password" class="form-control" id="exampleInputnumber" placeholder="Entre ton numéro">
                </div>   
                
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="form-group">
                  <label for="exampleInputtext">Sujet</label>
                  <input type="password" class="form-control" id="exampleInputtext" placeholder="Entre ton sujet">
                </div>
                <div class="form-group">
                  <label for="inputMessage">Message</label>
                  <textarea  class="form-control" for="inputMessage" placeholder="Entre ton message"></textarea>
                </div>
                <div>
                  <button type="button" class="btn btn-md btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Envoyer</button>
                </div>
                <br>
              </div>
              
          </div>
        </form>

  </section>