<div class="d-flex justify-content-center mt-3">

  <h1 class="text-primary">Nous contacter</h1><br/>

	<br/>
	
</div>
<div class="d-flex justify-content-center">
	<h4 class="text-secondary text-center">Servietsky sera toujours la pour vous, KEEP CALM.</h4>
	<br/>
</div>

<br/>
<br/>



                <h4 align="center"><strong>The Super Fuck Friends</strong></h4>
                <p align="center"><strong>Author:<br/>
                </strong>  Frédéric Boursier<br>Valentin Cluzan<br>
                <br><strong>Contact:<br/></strong> 06.74.49.11.52<br>06.59.08.31.04</p>
              