<br/>
<div class="d-flex justify-content-center">
	<h1>Voici la liste des Gossips !</h1> 
	<br/>
	
</div>
<div class="d-flex justify-content-center">
	<h4>Il y a déjà <%= Gossip.all.length %> crevards qui ont balancé des ragôts.</h4>
	<br/>
	
</div>

<br/>

<section class="d-flex justify-content-center flex-wrap">
<% Gossip.all.each_with_index do |gossip, i| %>

	<div class="card border-dark mb-3" style="min-width: 18rem; max-width: 18rem;">
	  <div class="card-header"><%= gossip.user.username %></div>
	  <div class="card-body text-dark">
	    <h5 class="card-title"><%= gossip.title %></h5>
	    <p class="card-text"><%= link_to 'Voir plus', gossips_path(i+1) %></p>
	  </div>
	</div>


<% end %>
</section>

