<div class="d-flex justify-content-center mt-3">
  <h1 class="text-primary">Bienvenue sur notre site de <span class="font-italic">Grossips</span></h1><br/>
	<br/>
</div>

<div class="d-flex justify-content-center mt-3">
  <h3 class="text-secondary font-italic ">Ici tu vas pouvoir balancer pleins de ragôts que la </br><span class="ml-5"> terre entière se fera un plaisir de lire !</span></h3><br/>
	<br/>
</div>

<div class="d-flex justify-content-center mt-3">
  <h5 class="text-secondary font-italic mt-5 ">Sois pas timide, rejoins-nous !</h5>
</div>

<div class="d-flex justify-content-center">
   <a class="btn btn-primary mr-2" <%= link_to 'Connexion', new_session_path %></a>
   <a class="btn btn-primary ml-2" <%= link_to "S'enregistrer", new_user_path %></a>
</div>

