<div class="d-flex justify-content-center mt-3">

  <h1 class="text-primary">Notre team de choc</h1><br/>

	<br/>
	
</div>
<div class="d-flex justify-content-center">
	<h4 class="text-secondary text-center">Une équipe de développeurs à votre service. <br/>Une expertise sans égale dans la réalisation de vos sites/applications. N'hésitez plus !</h4>
	<br/>
	
</div>

<br/>

<section class="team-section text-center my-4">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://i.imgur.com/aNe56fN.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Servietsky</h5>
      <p class="text-uppercase blue-text"><strong>Front Gardener</strong></p>
      <p class="grey-text">Et les gars j'ai trouvé, c'est la musique de Funky Town, tutututu tu tututututu....</p>
      <ul class="list-unstyled mb-0">
        
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://i.imgur.com/F3JhkcM.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Peepoodur</h5>
      <p class="text-uppercase blue-text"><strong>MALE ALPHA</strong></p>
      <p class="grey-text">Je m'appelle Peepoodo, j'aime bien chanter quant il fait beau, ensemble on fait les fous, on dit bonjour aux animaux...</p>
      <ul class="list-unstyled mb-0">
        
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://i.imgur.com/X12Uyzf.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Dr.Lachatte</h5>
      <p class="text-uppercase blue-text"><strong>Seducer</strong></p>
      <p class="grey-text">Vous mangez régulièrement des pamplemousses ?</p>
     
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://i.imgur.com/6gf6P9L.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Bender</h5>
      <p class="text-uppercase blue-text"><strong>Backend Destructor</strong></p>
      <p class="grey-text">Je voudrais pas que les gens pensent qu'on est robosexuels hein... Si jamais on te le demande t'es mon debuggeur.</p>
      <ul class="list-unstyled mb-0">
       
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</section>
<!-- Section: Team v.1 -->