<div class="d-flex justify-content-center mt-3">

  <h1 class="text-primary">Nos Grossipeurs</h1><br/>
	<br/>
	
</div>
<div class="d-flex justify-content-center">
	<h4 class="text-secondary">Il y a déjà <%= User.all.length %> langues de pute enregistrées sur notre site.</h4>
	<br/>
	
</div>

<br/>