
<section>
  <p>Voici la page du gossip n° <%= params[:gossip_id] %></p>
  <p>Auteur : <%= Gossip.find(params[:gossip_id]).user.username %></p>
  <p>Titre : <%= Gossip.find(params[:gossip_id]).title %></p>
  <p>Contenu : <%= Gossip.find(params[:gossip_id]).content %></p>
</section>
