<% flash.each do |key, value| %>
<div class="alert alert-<%= key %> alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= value %>
</div>
<% end %>

<div class="d-flex justify-content-center mt-3">

  <h1 class="text-primary">Création de Grossip</h1><br/>

	<br/>
	
</div>
<div class="d-flex justify-content-center">
	<h4 class="text-secondary">Tu peux maintenant librement cracher sur le dos de tes proches. A toi de jouer !!</h4>
	<br/>
	
</div>

<br/>




<section class="d-flex justify-content-center">

<% if @gossip != nil %>
  <% if @gossip.errors.any? %>
    <ul class="text-danger list-unstyled">
      <% @gossip.errors.each_with_index do |message, i| %>
        <li><i class="fab fa-accessible-icon text-danger mr-2"></i><%= message[1] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</section>

<section class="d-flex justify-content-center">

<form action='/gossips/' method='POST'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <div class="d-flex justify-content-center">
      <input type='text' name='gossip_title' placeholder='Ton titre'/><br/>
      </div>
      <div class="d-flex justify-content-center mt-3">
      <input type='text' name='gossip_content' placeholder='Ton potin'/><br/>
      </div>
      <br/>
       <div class="d-flex justify-content-center">
      <input class="btn btn-primary" type='submit' value='Envoyer'/>
      </div>
</form>
</section>

