// Place all the styles related to the gossips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td a:hover {
  color: white!important;
}

#test_info {
  color: white!important;
}

#test_filter {
  display: flex!important;
  justify-content: end!important;
}

#test_filter > label:nth-child(1) {
}



thead th {
    background-color: #721124;
    color: white;
}



tbody td a:hover {
  color:  #721124!important;
  text-decoration: none!important;
}

//tbody td a {
//  color:  #721124;
//}